.nav-link {
	color: #fff!important;
}

.nav-link:hover {
	color: #f7c700!important;
}

li.nav-item {
	padding: 0 16px;
}

@font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/Helvetica-Bold.otf);
}

body, html {
	margin: 0;
	font-family: "Helvetica Neue";
}

body {
	background-image: url("../images/fondoweb.jpg");
	background-size: cover;
}

.navbar-brand img {
    height: 28px;
}

.navbar-toggler span {
	color: #FFF;
}

.title {
	padding: 3% 0;
	color: #FFF;
}

.title h1 {
	font-weight: 400;
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin-bottom: -5px;
}

.title h4 {
	font-family: 'Helvetica-Bold';
	font-size: 14px;
	color: #f7c700;
	text-align: center;
}

#avanza-contenido {
	padding-bottom: 32px;
}

#planes {
	padding-bottom: 32px;
}

.plan {
	display: block;
	margin: auto;
}

img.plan {
	padding-bottom: 16px;
	max-width: 50%;
}

a {
	text-decoration: none !important;
}

#descarga-avanza, #descarga-conecta {
	cursor: pointer;
	font-size: 14px;
	background: #89A859;
	border: none;
	color: #FFF;
	padding: 0 8px;
}

#descarga-conecta {
	background: #EEBD40;
}

#que_es {
	width: 100px;
	float: left;
	text-align: center;
}

#ideas {
	width: 100px;
	float: right;
	text-align: center;
}

#foco-image, #interrogacion-image {
	padding-bottom: 8px;
}

.accion {
	color: #FFF;
	font-weight: bold;
}


footer {
	color: #fff;
	border-top: 1px solid #fff;
}

#social {
	text-align: center;
	padding: 8px;
	font-size: 18px;
}

#social a {
	padding: 0 8px;
}

#avisoPrivacidad {
	text-align: center;
	font-size: 12px;
	padding: 8px;
}

.fa-facebook-f, .fa-youtube, .fa-google-plus-g {
	color: #fff;
}


@media (min-width: 576px) { 
	.navbar-brand img {
    	height: 48px;
	}

	.title h1 {
		font-size: 42px;
	}

	.title h4 {
		font-size: 20px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.title h1 {
		font-size: 60px;
	}

	.title h4 {
		font-size: 18px;
	}
}

#objetives-content {
	font-weight: 500;
	max-width: 670px;
	display: inline-block;
	background-color: rgba(255,255,255, 0.7);
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 20px;
    color: #125a59;
}

#mapasin-obj {
	font-weight: bold;
}

.obj-desc {
	font-size: 16px;
}

.obj-item {
	font-size: 16px;
}

.obj-item img {
	padding-right: 16px;
}

@media (min-width: 576px) {
	.obj-desc {
		font-size: 20px;
	}

	.obj-item {
		margin-bottom: 4px;
		font-size: 20px;
		padding-left: 8px;
	}
}

