.nav-link {
	color: #fff !important;
}

.nav-link:hover {
	color: #f7c700 !important;
}

li.nav-item {
	padding: 0 16px;
}

@font-face {
	font-family: Helvetica-Bold;
	src: url(../fonts/Helvetica-Bold.otf);
}

body, html {
	margin: 0;
	font-family: "Helvetica Neue";
}

.navbar {
	background-color: #333 !important;
}

.navbar-brand img {
	height: 28px;
}

.navbar-toggler span {
	color: #FFF;
}

#main-container {
	height: 100%;
}

#blog-title h1{
	padding: 16px 0;
	color: #333;
}

.card {
	margin: 8px 0;
}

.float-left {
	padding-right: 16px;
	width: 150px;
}

.card-body h5 {
	color: #f7c700;
}

.card-body h4 {
	color: #125a59;
}

#blog-pages {
	font-size: 22px;
	text-align: center;
	padding: 8px;
}

#blog-pages a {
	padding-right: 8px;
}

footer {
	color: #fff;
	background-color: #333;
}

#social {
	text-align: center;
	padding: 8px;
	font-size: 18px;
}

#social a {
	padding: 0 8px;
}

#avisoPrivacidad {
	text-align: center;
	font-size: 12px;
	padding: 8px;
}

.fa-facebook-f, .fa-youtube, .fa-google-plus-g {
	color: #fff;
}

#header {
	background-image: url("../images/headerBackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
}

#header h1 {
	padding: 64px 0;
	color: #FFF;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.content-image {
	display: inline-block;
	width: 150px;
	min-height: 150px;
}

.content-info {
	display: inline-block;
	width: 82%;
}

.content-info span{
	overflow: hidden;
	text-overflow: ellipsis;
	display: box;
	line-height: 21px;
	max-height: 48px;
}

.content-info > p {
	margin-top: 7%;
}

.post-thumb {
	float: left
}
.post-thumb img {
	display: block
}
.post-content {
	margin-left: 155px;
}

.plan-conecta {
	height: 100%;
	background-image: url("../images/fondo_video_planconecta.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    display: block;
	padding-top: 10%;
}

.plan-conecta iframe {
	width: 100%;
	max-width: 560px;
}