.nav-link {
	color: #fff!important;
}

.nav-link:hover {
	color: #f7c700!important;
}

li.nav-item {
	padding: 0 16px;
}

@font-face {
    font-family: Helvetica-Bold;
    font-family: HelveticaNeue-CondensedBlack;
    src: url(../Helvetica-Bold.otf);
    src: url(../HelveticaNeue-CondensedBlack);
}

body, html {
	height: 100%;
	margin: 0;
	font-family: "Helvetica Neue";
}

.navbar {
	background-color: #333 !important;
}

.navbar-brand img {
    height: 28px;
}

.navbar-toggler span {
	color: #FFF;
}

#main-container {
	background-color: #E6E6E8;
}

footer {
	color: #fff;
	background-color: #333;
}

#social {
	text-align: center;
	padding: 8px;
	font-size: 18px;
}

#social a {
	padding: 0 8px;
}

#avisoPrivacidad {
	text-align: center;
	font-size: 12px;
	padding: 8px;
}

.fa-facebook-f, .fa-youtube, .fa-google-plus-g {
	color: #fff;
}

#img-avanza {
	width: 300px;
	display: inline-block;
}

#proj-descarga {
	display: inline-block;
	margin-top: 34px;
}

.resumen {
	padding-left: 32px;
	padding-right: 32px;
	position: absolute;
	max-width: 680px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 25%;
	z-index: 99;
	background-color: rgba(0,0,0, .3);
}

.resumen p {
	color: #fff;
	font-weight: bold;
	margin-bottom: 4px;
}

#descarga-resumen {
	background-color: #f7c700;
	color: #fff;
	padding: 4px 16px;
}

#descarga-proyecto {
	background-color: #125a59;
	color: #fff;
	padding: 4px 16px;
}

.carousel-item {
	/*
	max-height: 600px;
	background-repeat: repeat-y;
	background-size: cover !important;
	*/
}

#proj-descarga div {
	margin-bottom: 32px;
}

.resumen:last-child {
	background: none;
	max-width: 380px !important;
	padding: 0;
	top: 27.5%;
}

.resumenBackground {
	background-color: rgba(0,0,0, .3);
}

.resumenBackground p {
	margin-top: 11%;
}

#que_es {
	display: inline-block;
}

#ideas {
	display:  inline-block;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
