.nav-link {
	color: #fff !important;
}

.nav-link:hover {
	color: #f7c700 !important;
}

li.nav-item {
	padding: 0 16px;
}

@font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/Helvetica-Bold.otf);
}

body, html {
	height: 100%;
	margin: 0;
	font-family: "Helvetica Neue";
}

.navbar {
	background-color: #333 !important;
}

.navbar-brand img {
    height: 28px;
}

.navbar-toggler span {
	color: #FFF;
}

footer {
	color: #fff;
	background-color: #333;
}

#social {
	text-align: center;
	padding: 8px;
	font-size: 18px;
}

#social a {
	padding: 0 8px;
}

#avisoPrivacidad {
	text-align: center;
	font-size: 12px;
	padding: 8px;
}

.fa-facebook-f, .fa-youtube, .fa-google-plus-g {
	color: #fff;
}

#header h1{
	color: #333;
	padding: 16px 0;
}

.image-gallery {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	width: 100%;
	cursor: pointer;
    transition: 0.3s;
}

.image-gallery:hover {opacity: 0.7;}


.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    height: 150px;
}

