{% load static %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Mapasin</title>

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	<style type="text/css">
	html, body {
		height: 100% !important;
	}
	a, a:hover {
		text-decoration: none !important;
	}
	.navbar {
		min-height: 64px;
	}
	.privacity, .privacity:hover {
		text-decoration: none;
		color: white;
	}
	.navbar {
		background-color: #0f3d3f !important;
	}

	.Site {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	.Site-content {
		flex: 1;
	}
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

{% block styles %}{% endblock %}

<style type="text/css">
.navbar {
	background-color: #0f3d3f !important;
}
</style>

{% block styless %}{% endblock %}

</head>
<body>

	<div class="Site">
		<nav class="navbar sticky-top navbar-dark bg-light navbar-expand-lg">
			<div class="container">

				<a class="navbar-brand" href="/">
					<img src="{% static 'images/mapasin-logo.png' %}" height="48" alt="mapasin-logo">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span>&#9776;</span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0 my-2">
						<li class="nav-item nav-cosa dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Biblioteca
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								{% for category in categories %}
								<a class="dropdown-item" href="/proyecto/{{category.slug}}">{{category.name}}</a>
								{% endfor %}
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/galeria">Galería</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="/blog">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contacto">Contacto</a>
						</li>
						<li class="nav-item">
							<form action="/buscar">
								<div class="input-group">
									<input type="text" class="form-control" name="search" placeholder="Buscar proyectos" required />
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="submit">Buscar</button>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>

			</div>
		</nav>

		<div class="cont Site-content">
			{% block container %}
			{% endblock %}
		</div>

		<footer id="footer">

			<div class="row" style="margin: 0;">
				<div class="col-sm-4"></div>
				<div id="social" class="col-sm-4">
					<a target="_blank" href="{% block fb %}https://www.facebook.com/MapasinSinaloa/{% endblock %}">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a target="_blank" href="https://www.youtube.com/channel/UCxc-l3k2-kO1uNpvRBil9oA/featured">
						<i class="fab fa-youtube"></i>
					</a>
				</div>
				<div id="avisoPrivacidad" class="col-sm-4">
					<p><a class="privacity" href="/aviso-privacidad">Aviso de privacidad</a></p>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	{% block scripts %}{% endblock %}

	<script type="text/javascript">
		$(window).on('load', function() {

			window.setFooter = function () {
				var docHeight = $(window).height()
				var footerHeight = $('#footer').height();
				var footerTop = $('#footer').position().top + footerHeight;

				if (footerTop < docHeight) {
					$('#footer').css('margin-top', (docHeight - footerTop) + 'px');
				}
			}

			setTimeout(function () { setFooter() }, 50)
			setFooter()
		});
	</script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118654439-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-118654439-1');
	</script>
</body>
</html>