{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
{% endblock %}

{% block container %}
<br />
<div class="container">
	<h2>{{post.title}}</h2>
	<span>{{post.user.first_name}} {{post.user.last_name}} | {{post.created_at|date:'j \d\e F \d\e Y'}}</span>
	<br /><br />
	<span style="word-wrap: break-word;">{{post.content|safe}}</span>
</div>
{% endblock %}
