{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
<style type="text/css">
.post-content > div > span {
	display: block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	line-height: 1.8em;
}

.title { 
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 16px;
	max-height: 32px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<section>
		<div class="container">
			<div id="blog-title">
				<h1>Blog Mapasin</h1>
			</div>
		</div>
	</section>

	<section>
		<div class="container">        

			{% for post in posts %}
			<div class="card">
				<div class="card-body">
					<div class="post-container">
						<div class="post-thumb">
							<img src="{{ post.photo.url }}" class="float-left">
						</div>
						<div class="post-content">
							<a href="/blog/{{post.slug}}"><h4>{{post.title}}</h4></a>
							<div>
								<span class="title">{{post.content|safe|truncatechars_html:500|striptags}}</span>

								Por: {{post.user.first_name}} {{post.user.last_name}} | {{post.created_at|date:'j \d\e F \d\e Y'}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

			<div id="blog-pages">
				{% if posts.has_previous %}
				<a href="?page={{ posts.previous_page_number }}">anterior</a>
				{% endif %}

				<span class="current">
					{% if posts %}
					{% for page in pages %}
					<a href="?page={{page}}" {% if page == posts.number %}style="color: gray;"{% endif %}>{{page}}</a>
					{% endfor %}
					{% endif %}
				</span>

				{% if posts.has_next %}
				<a href="?page={{ posts.next_page_number }}">siguiente</a>
				{% endif %}
			</div>

		</div>  
	</section>  

</main>
{% endblock %}
