{% extends 'base.html' %}
{% load static %}

{% block styless %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style type="text/css">
	.navbar {
		background: none !important;
	}

	a, a:hover {
		text-decoration: none;
		color: white;
	}
</style>
{% endblock %}

{% block container %}
<main id="main-container">
	<div class="container">        

		<section class="title">
			<center>
			<h2>Próximamente</h2>
			<h4>Espacio en construcción puedes comunicarte al correo <a href="mailto:mapasinorg@gmail.com">mapasinorg@gmail.com</a></h4>
		</center>
		</section>

	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('nav').removeClass('sticky-top')
</script>
{% endblock %}