{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style4.css' %}">
{% endblock %}

{% block container %}
<main id="main-container">
	<section id="header">
		<div class="container">
			<h1>¡Contáctanos!</h1>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h4 class="contact-subtitle">Domicilio</h4>
					<p class="contact-content">Av. Indio de Guelatao #297<br>
						Col. Miguel Hidalgo<br>
					C.P. 80090 Culiacán, Sinaloa.</p>

					<h4 class="contact-subtitle">Contacto</h4>
					<p class="contact-content">Email: <a href="mailto:mapasinorg@gmail.com">mapasinorg@gmail.com</a></p>
				</div>
				<div class="col-sm-3">
					<h4 class="contact-subtitle">Alianzas</h4>
					<ul class="contact-content">
						{% for alliance in alliances %}
							<li><a href="{{alliance.url}}" target="_blank">{{alliance.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-sm-5">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</section>

</main>
{% endblock %}

{% block scripts %}
<script>
	function initMap() {
		var mapasin = { lat: 24.807743, lng: -107.375934 };
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 15,
			center: mapasin
		});

		var marker = new google.maps.Marker({
			position: mapasin,
			map: map
		});
	}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR_Hdjn4cAwbmqd5hBQuKP_XU32tfnVKk&callback=initMap">
</script>
{% endblock %}