{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
<style type="text/css">
.image-gallery {
	width: 130px !important;
	height: 130px;
}
.project-name {
	position: unset;
	bottom: 0;
	margin-top: -17px;
	background: none;
	color: #125a59;
	font-weight: 500;
}

.participa {
	background: #DB3346;
	border-radius: 5px;
	color: white;
	font-size: 2em;
	padding: 16px;
}

.header {
	padding-left: 0px;
	padding-bottom: 10px;
}

h2 {
	padding-bottom: 0px;
}

.subtitle {
	color: #f7c700;
	padding-bottom: 32px;
	text-align: end;
}

.contentp {
	font-size: 1.5rem;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container" style="margin-top: 1em;">

	<section id="header">
		<div class="container" style="max-width: 800px;">
			<h2 class="header">¡Donativos!</h2>
		</div>
	</section>

	<section>
		
		<div class="container" style="max-width: 800px; margin-top: 5em;">
			<div class="justify-content-center">

				<p class="contentp">
					Mapasin apoya la promoción y el desarrollo de estrategias y proyectos de movilidad urbana sustentable en Sinaloa,participa con nosotros través de contribución económica, horas de trabajo o materiales. 

					<br /><br />

					Si estás interesado en hacer un donativo ponte en contacto con:

					<br /><br />

					Luis Angel González - Coordinador Mapasin
					<br />
					Tel <a href="tel:+522586806">(+52) 2586806</a>

					<br /><br />

					<a href="mailto:arqluisangelgv@gmail.com">arqluisangelgv@gmail.com</a>

					<br /><br />

					¡Gracias!
				</p>

			</div>
		</div>
	</section>

</main>
{% endblock %}
