{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
<style type="text/css">
.post-content > div > span {
	display: block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	line-height: 1.8em;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<section>
		<div class="container">
			<div id="blog-title">
				<h1>Eventos</h1>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					{% for c in currents %}
					<div class="carousel-item active">
						<img class="d-block w-100" src="holder.js/1300x400?auto=yes&bg=555&fg=333&text={{c.title}}" alt="">
						<div class="carousel-caption d-none d-md-block">
							<h5>{{c.date}}</h5>
							<p>{{c.place}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

	</section>
	<br /><br />
	<section>
		<div class="container">        

			<div class="row">
				<div class="col-sm-7">
					{% for event in events %}
					<div class="card">
						<div class="card-body">
							<div class="post-container">
								<div class="">
									<label>Fecha: {{event.created_at|date:'j \d\e F \d\e Y'}}</label>
									<a href="/participa/evento/{{event.slug}}"><h4>{{event.title}}</h4></a>
									<div>
										<span>Lugar: {{event.place}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

					<div id="blog-pages">
						{% if events.has_previous %}
						<a href="?page={{ events.previous_page_number }}">anterior</a>
						{% endif %}

						<span class="current">
							{% if events %}
							{% for page in pages %}
							<a href="?page={{page}}" {% if page == events.number %}style="color: gray;"{% endif %}>{{page}}</a>
							{% endfor %}
							{% endif %}
						</span>

						{% if events.has_next %}
						<a href="?page={{ events.next_page_number }}">siguiente</a>
						{% endif %}
					</div>

				</div>

				<div class="col-sm-5">
					<h3>Calendario</h3>
					<ul>
						{% for cal in calendar %}
						<li><a href="/participa/evento/{{cal.slug}}">{{cal.title}}</a></li>
						{% endfor %}
					</ul>
				</div>

			</div>
		</div>
	</section>

</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/holder.min.js' %}"></script>
{% endblock %}
