{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
{% endblock %}

{% block container %}
<br />
<div class="container">
	<h2>{{event.title}}</h2>
	<span>Fecha: {{event.date|date:'j \d\e F \d\e Y'}}</span>
	<br />
	<span>Lugar: {{event.place}}</span>
	<br /><br />
	<span style="word-wrap: break-word;">{{event.content|safe}}</span>
</div>
{% endblock %}
