{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
{% endblock %}

{% block container %}
<main id="main-container">

	<section id="header">
		<div class="container">
			<h3>Galería</h3>
		</div>
	</section>

	<section>
		<div class="container">
			<form>
				<div class="form-group">
					<select class="form-control" onchange="filtrar()">
						<option>Todas</option>
						{% for category in categories %}
						<option>{{category.name}}</option>
						{% endfor %}
					</select>
				</div>
			</form>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">

				{% for photo in photos %}
				<div class="col-6 col-md-3 photo" data-type="{{photo.category.name}}">
					<img src="{{photo.file.url}}" class="image-gallery" id="img{{forloop.counter0}}" alt="{{photo.title}}">
				</div>
				{% endfor %}
			</div>  
		</div>
	</section>
</main>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body" style="padding: 0;">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox" style="border-radius: 5px;">
						{% for photo in photos %}
						<div id="img_{{forloop.counter0}}" class="carousel-item" style="border-radius: 5px;">
							<img class="img-fluid" style="width: 100%;" src="{{photo.file.url}}" alt="{{photo.title}}">
						</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="caption">
		<h3 id="caption"></h3>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

	$('.image-gallery').on('click', function (e) {
		$('#myModal').modal('show')

		let id = $(this).attr('id').replace('img', '')

		$('.carousel-item').removeClass('active')
		$('#img_' + id).addClass('active')

		$('#caption').html($(this).attr('alt'))

		$('.carousel').carousel({ interval: false })
	})

	$('.carousel').on('slid.bs.carousel', function (){
		$('#caption').html($('.active > img').attr('alt'))
	})

	var defaultValue = $('#footer').css('margin-top')

	var filtrar = function () {
		var value = $('select').val()
		$('.photo').css('display', 'none')

		if (value === 'Todas') {
			$('.photo').css('display', 'block')
		} else {
			$('.photo[data-type="' + value + '"]').css('display', 'block')
		}
		setFooter()
	}

</script>
{% endblock %}