{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
<style type="text/css">
.image-gallery {
	width: 130px !important;
	height: 130px;
}
.project-name {
	position: unset;
	bottom: 0;
	margin-top: -17px;
	background: none;
	color: #125a59;
	font-weight: 500;
}

.participa {
	background: #DB3346;
	border-radius: 5px;
	color: white;
	font-size: 2em;
	padding: 16px;
}

.header {
	padding-left: 0px;
	padding-bottom: 10px;
	font-size: 1.5rem;
	text-align: justify;
}

.subtitle {
	color: #f7c700;
	padding-bottom: 32px;
	text-align: end;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<section id="header">
		<div class="container" style="max-width: 800px;">
			<h3 class="header">¡Queremos conocer tus ideas para mejorar la movilidad en Sinaloa!</h3>
			<h5 class="subtitle">"Un hombre con una idea nueva es un loco hasta que la idea triunfa"<br />- Mark Twain</h5>
		</div>
	</section>

	<section>
		
		<div class="container" style="max-width: 800px;">
			<div class="justify-content-center">

				<form method="POST" action="/participa/ideas">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Nombre" required>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Correo electrónico" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<span>Hablanos un poco de tu idea</span>
						<textarea class="form-control" name="message" rows="3" required></textarea>
					</div>
					<div class="form-group">
						<div class="custom-file">
							<input type="file" accept="application/pdf" class="custom-file-input" id="customFile" name="file" >
							<label class="custom-file-label" for="customFile">Adjuntar Archivo</label>
						</div>
					</div>
					<div class="form-group">
						<span>Categoria</span>
						<select name="category" class="form-control">
							{% for c in ideacategories %}
							<option value="{{c.id}}">{{c.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary form-control">Enviar Idea</button>
					</div>
					{% csrf_token %}
				</form>

				{% if success %}
				<br />
				<div class="alert alert-success" role="alert">
					¡Idea Enviada!
				</div>
				{% endif %}

			</div>
		</div>
	</section>

</main>
{% endblock %}
