{% extends 'base.html' %}
{% load static %}

{% block styless %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style type="text/css">
	.navbar {
		background: none !important;
	}
</style>
{% endblock %}

{% block container %}
<main id="main-container">
	<div class="container">        

		<section class="title">
			<h1>Avanzando hacia el futuro</h1>
			<h4>Promovemos una visión de desarrollo a largo plazo para la movilidad en Sinaloa.</h4>
		</section>

		<section id="planes" class="row">
			<div class="col-sm-2">&nbsp;</div>
			<div id="avanza-contenido" class="col-sm-4">
				<img id="img-avanza" class="plan " src="{% static 'images/logo-avanza.png' %}" >
				<a href="/plan-avanza" target="_blank">
					<button id="descarga-avanza" class="plan">VER MÁS</button>
				</a>
			</div>
			<div id="conecta-contenido" class="col-sm-4">
				<img id="img-conecta" class="plan " src="{% static 'images/logo-conecta.png' %}" >
				<a href="/plan-conecta" target="_blank">
					<button id="descarga-conecta" class="plan">VER MÁS</button>
				</a>
			</div>
			<div class="col-sm-2">&nbsp;</div>
		</section>

		<section id="info" class="row">
			<div class="info-content col-sm-3 col-md-4"></div>
			<div class="info-content col-sm-6 col-md-4">            
				<div id="que_es">
					<a href="/objetivos">
						<img id="foco-image" src="{% static 'images/interrogacion-sm.png' %}">
						<p class="accion">QUÉ ES</p>
					</a>
				</div>
				<div id="ideas">
					<a href="/participa">
						<img id="interrogacion-image" src="{% static 'images/foco-sm.png' %}">
						<P class="accion">PARTICIPA</P>
					</a>
				</div>
			</div>
			<div class="info-content col-sm-3 col-md-4"></div>
		</section>

	</div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('nav').removeClass('sticky-top')
</script>
{% endblock %}