{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
<style type="text/css">
.image-gallery {
	width: 130px !important;
	height: 130px;
}
.project-name {
	position: unset;
	bottom: 0;
	margin-top: -17px;
	background: none;
	color: #125a59;
	font-weight: 500;
}

.participa {
	background: #DB3346;
	border-radius: 5px;
	color: white;
	font-size: 2em;
	padding: 16px;
}

.post-content > div > span {
	display: block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	line-height: 1.8em;
}

.title { 
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 16px;
	max-height: 32px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<section id="header">
		<div class="container" style="max-width: 800px;">
			<h3 class="header">Suscribete <br /> ¡Recibe nuestras últimas noticias!</h3>
		</div>
	</section>

	<section>
		
		<div class="container" style="max-width: 800px;">
			<div class="justify-content-center">

				<form method="POST" action="/participa/informacion">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Nombre" required>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Correo electrónico" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary form-control">Suscribirse</button>
					</div>
					{% csrf_token %}
				</form>

				{% if success %}
				<br />
				<div class="alert alert-success" role="alert">
					¡Suscrito!
				</div>
				{% endif %}

			</div>

			<br />
			{% for post in posts %}
			<div class="card">
				<div class="card-body">
					<div class="post-container">
						<div class="post-thumb">
							<img src="{{ post.photo.url }}" class="float-left">
						</div>
						<div class="post-content">
							<a href="/blog/{{post.slug}}"><h4>{{post.title}}</h4></a>
							<div>
								<span class="title">{{post.content|safe|truncatechars_html:500|striptags}}</span>

								Por: {{post.user.first_name}} {{post.user.last_name}} | {{post.created_at|date:'j \d\e F \d\e Y'}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<br />

		</div>
	</section>

</main>
{% endblock %}
