{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
{% endblock %}

{% block container %}
<main id="main-container">
	<section id="header">
		<div class="container">
			<h3 class="header"><a href="/proyecto/{{slug}}">{{slug|title}}</a> / <span>{{type|title}}</span></h3>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				{% for map in maps %}
				<div class="col-sm-3">
					<a href="{{map.url}}" target="_blank">
						<div class="project-content">
							<img src="{{map.photo.url}}" class="image-gallery">
							<p class="project-name">{{map.title}}</p>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

</main>
{% endblock %}
