{% extends 'base.html' %}
{% load static %}

{% block styless %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style type="text/css">
.sticky-top { 
	background: transparent !important;
}
a, a:hover {
	color: #125a59;
	text-decoration: none;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">
		<div class="container" style="display: flex; flex-direction: column;">        

			<section id="objetives-content" style="align-self: center;">
				<h2>¿QUÉ ES?</h2>
				<p class="obj-desc"><span id="mapasin-obj">Mapasin</span> es una iniciativa ciudadana que busca mejorar la movilidad en Sinaloa a través de tres estrategias:</p>

				<p class="obj-item"><img src="{% static 'images/logos.png' %}" height="20" /><a href="/plan-avanza" target="_blank">Plan de Movilidad Culiacán</a></p>
				<p class="obj-item"><img src="{% static 'images/logos.png' %}" height="20" />Plan de Movilidad Navolato</p>
				<p class="obj-item"><img src="{% static 'images/logos.png' %}" height="20" /><a href="/plan-conecta" target="_blank">Plan de Movilidad Sinaloa</a></p>

				<p class="obj-desc">A su vez, es una plataforma de difusión de planes, proyectos e ideas para nuestras ciudades en:</p>

				<p class="obj-item"><img src="{% static 'images/logos.png' %}" height="20" />Biblioteca de Proyectos</p>
				<p class="obj-item"><img src="{% static 'images/logos.png' %}" height="20" />Galería</p>

			</section>

		</div>
</main>
{% endblock %}
