{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
<style type="text/css">
.image-gallery {
	width: 130px !important;
	height: 130px;
}
.project-name {
	position: unset;
	bottom: 0;
	margin-top: -17px;
	background: none;
	color: #125a59;
	font-weight: 500;
}

.participa {
	background: #DB3346;
	border-radius: 5px;
	color: white;
	font-size: 2em;
	padding: 16px;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<section>
		<br /><br /><br /><br /><br /><br />
		
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-sm-2">
					<center>
						<a href="/participa/eventos">
							<div class="project-content">
								<img src="{% static 'images/events.png' %}" class="image-gallery">
								<p class="project-name">ASISTE A LOS EVENTOS</p>
							</div>
						</a>
					</center>
				</div>

				<div class="col-sm-2">
					<center>
						<a href="/participa/servicio-social">
							<div class="project-content">
								<img src="{% static 'images/social.png' %}" class="image-gallery">
								<p class="project-name">SERVICIO SOCIAL</p>
							</div>
						</a>
					</center>
				</div>

				<div class="col-sm-2">
					<center>
						<a href="/participa/informacion">
							<div class="project-content">
								<img src="{% static 'images/information.png' %}" class="image-gallery">
								<p class="project-name">INFORMACIÓN</p>
							</div>
						</a>
					</center>
				</div>

				<div class="col-sm-2">
					<center>
						<a href="/participa/ideas">
							<div class="project-content">
								<img src="{% static 'images/idea.png' %}" class="image-gallery">
								<p class="project-name">APORTA TUS IDEAS</p>
							</div>
						</a>
					</center>
				</div>

				<div class="col-sm-2">
					<center>
						<a href="/participa/donativos">
							<div class="project-content">
								<img src="{% static 'images/donate.png' %}" class="image-gallery">
								<p class="project-name">DONATIVOS</p>
							</div>
						</a>
					</center>
				</div>

			</div>
		</div>

		<br /><br /><br />
		<center>
			<span class="participa">
				¿CÓMO PUEDES APORTAR? ¡PARTICIPA!
			</span>
		</center>
	</section>

</main>
{% endblock %}
