{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
{% endblock %}

{% block container %}
<main id="main-container">

	<div class="plan-conecta">
		<div class="container">
			<div>
				<center>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/tIXrVELRlu8?rel=0&controls=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</center>
		</div>
	</div>
</div>
</main>
{% endblock %}

{% block fb%}https://www.facebook.com/PlanConecta/{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$( window ).on('load', function() {

		function setContainer () {
			const docHeight = $(window).height() - 114
			$('#main-container').css('height', docHeight + 'px')
		}
		$(window).on('resize', function () {
			setContainer()

			var ratio = 560 / 315
			var height = $('iframe').width() / ratio
			$('iframe').css('height', height + 'px')
		})

		setContainer()
	});
</script>
{% endblock%}