{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_plan.css' %}">
<style type="text/css">
.carousel-item {
	height: 100%;
}
.privacity, .privacity:hover {
	color: white;
}
.fa-facebook-f, .fa-youtube, .fa-google-plus-g {
	color: white;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<video autoplay muted loop id="myVideo">
		<source src="{% static 'video/mapasin.mp4' %}" type="video/mp4" />
	</video>

	<div class="container">
		<div class="resumen">
			<div class="row">
				<div class="col-sm-6">
					<center>
						<img id="img-avanza" class="plan " src="{% static 'images/logo-conecta.png' %}">
					</center>
				</div>
				<div class="col-sm-6">
					<center>
						<div id="proj-descarga">
							<div>
								<p>FICHAS TÉCNICAS DE PROYECTOS</p>
								<a target="_blank" id="descarga-resumen" href="{% static 'plan_conecta/PLAN_CONECTA.pdf' %}">DESCARGA AQUÍ</a>  
							</div>
							<div>
								<p>PROYECTO COMPLETO</p>
								<a target="_blank" id="descarga-proyecto" href="{% static 'plan_conecta/PLAN_CONECTA_COMPLETO.pdf' %}">DESCARGA AQUÍ</a>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>

		<div class="resumen">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-3 resumenBackground" style="text-align: center;margin-left: -1%;">
					<a href="/plan-conecta-info">
						<img id="foco-image" src="{% static 'images/interrogacion-sm.png' %}">
						<p class="accion">QUÉ ES</p>
					</a>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-3 resumenBackground" style="text-align: center;margin-left: 2.7%;">
					<a href="/participa">
						<img id="interrogacion-image" src="{% static 'images/foco-sm.png' %}">
						<p class="accion">PARTICIPA</p>
					</a>
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>

		
	</div>

</main>
{% endblock %}

{% block fb%}https://www.facebook.com/PlanConecta/{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$( window ).on('load', function() {

		function setContainer () {
			const docHeight = $(window).height() - 114
			$('#main-container').css('height', docHeight + 'px')

			const h = $('.resumen:first-child').height()
			$('.resumen:last-child').css('margin-top', (h + 10) + 'px')
		}
		$(window).on('resize', function () {
			setContainer()
		})

		setContainer()
	});

	$('#carouselExampleSlidesOnly').on('slide.bs.carousel', function () {
		$(this).parent().css('background', $('.active').attr('src'))
	})
</script>
{% endblock%}
