{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_plan.css' %}">
<style type="text/css">
.carousel-item {
	height: 100%;
	max-height: 100% !important;
	background-size: 100% auto !important;
}
.privacity, .privacity:hover {
	color: white;
}
.fa-facebook-f, .fa-youtube, .fa-google-plus-g {
	color: white;
}
footer {
	background-color: #333;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<div id="carouselExampleSlidesOnly" class="carousel slide" data-pause="false" data-ride="carousel" style="height: 100%;">
		<div class="carousel-inner" style="height: 100%;">
			<div class="carousel-item active" style="background: url({% static 'images/calleCompleta.jpg' %}) no-repeat center center fixed;">
				&nbsp;
			</div>
			<div class="carousel-item" style="background: url({% static 'images/puenteBimodal.jpg' %}) no-repeat center center fixed;">
				&nbsp;
			</div>
			<div class="carousel-item" style="background: url({% static 'images/puenteMultimodal.jpg' %}) no-repeat center center fixed;">
				&nbsp;
			</div>
			<div class="carousel-item" style="background: url({% static 'images/puentemultimodal1.jpg' %}) no-repeat center center fixed;">
				&nbsp;
			</div>
		</div>
	</div>

	<div class="container">
		<div class="resumen">
			<div class="row">
				<div class="col-sm-6">
					<center>
						<img id="img-avanza" class="plan " src="{% static 'images/logo-avanza.png' %}">
					</center>
				</div>
				<div class="col-sm-6">
					<center>
						<div id="proj-descarga">
							<div>
								<p>RESUMEN EJECUTIVO</p>
								<a target="_blank" id="descarga-resumen" href="{% static 'plan_avanza/Plan-Avanza-Resumen-Ejecutivo.pdf' %}">DESCARGA AQUÍ</a>  
							</div>
							<div>
								<p>PROYECTO COMPLETO</p>
								<a target="_blank" id="descarga-proyecto" href="{% static 'plan_avanza/Plan-Avanza-Proyecto-Completo.pdf' %}">DESCARGA AQUÍ</a>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>

		<div class="resumen">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-3 resumenBackground" style="text-align: center;margin-left: -1%;">
					<a href="/plan-avanza/objetivo">
						<img id="foco-image" src="{% static 'images/interrogacion-sm.png' %}">
						<p class="accion">QUÉ ES</p>
					</a>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-3 resumenBackground" style="text-align: center;margin-left: 2.7%;">
					<a href="/participa">
						<img id="interrogacion-image" src="{% static 'images/foco-sm.png' %}">
						<p class="accion">PARTICIPA</p>
					</a>
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
	</div>

</main>
{% endblock %}

{% block fb%}https://www.facebook.com/planavanza/{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$( window ).on('load', function() {

		function setContainer () {
			const docHeight = $(window).height() - 114
			$('#main-container').css('height', docHeight + 'px')

			const h = $('.resumen:first-child').height()
			$('.resumen:last-child').css('margin-top', (h + 10) + 'px')
		}
		$(window).on('resize', function () {
			setContainer()
		})

		setContainer()


	});

	$('#carouselExampleSlidesOnly').on('slide.bs.carousel', function () {
		$(this).parent().css('background', $('.active').attr('src'))
	})
</script>
{% endblock%}