{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style type="text/css">
.sticky-top { 
	background: transparent !important;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">
		<div class="container" style="display: flex; flex-direction: column;">        

			<section id="objetives-content" style="align-self: center; font-weight: unset">
				<p class="obj-desc">
					<span style="color: rgb(115,182,50);">Plan Avanza</span> es un proceso de <strong>planeación estratégica de largo plazo para la movilidad en Culiacán</strong>, el cual tiene el objetivo de consolidar una visión de desarrollo sostenible a través de políticas integrales que permitan <strong>promover un cambio de paradigma en la movilidad</strong>, potenciar la competitividad y una mejor la calidad de vida de los habitantes.
				</p>

			</section>

		</div>
</main>
{% endblock %}

{% block fb%}https://www.facebook.com/planavanza/{% endblock %}