{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
{% endblock %}

{% block container %}
<div class="container">
	<br /><br />
	<span style="word-wrap: break-word;">{{privacity|safe}}</span>
</div>
{% endblock %}
