{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
{% endblock %}

{% block container %}
<main id="main-container">

	{% for data in search %}
	<section id="header">
		<div class="container">
			<h3 class="header"><a href="/proyecto/{{data.slug}}">{{data.slug|title}}</a></h3>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				{% for project in data.data %}
				<div class="col-6 col-md-3">
					{% if data.slug == 'FOTOS' %}
					<img src="{{project.file.url}}" class="image-gallery image-gallery2" id="img{{forloop.counter0}}" alt="{{project.title}}">
					<span>{{project.title}}</span>
					{% elif data.slug == 'VIDEOS' %}

					{% if project.url %}
					<img class="video" data-url="{{project.url}}" src="https://img.youtube.com/vi/{{project.url}}/mqdefault.jpg" style="cursor: pointer;" />
					{% else %}
					<video class="video" data-url="{{project.file.url}}" style="cursor: pointer;">
						<source src="{{project.file.url}}" type="video/mp4" />
					</video>
					{% endif %}

					{{project.name}}

					{% elif data.slug == 'MAPAS' %}
					<a href="{{project.url}}" target="_blank">
						<div class="project-content">
							<img src="{{project.photo.url}}" class="image-gallery">
							<p class="project-name">{{project.title}}</p>
						</div>
					</a>
					{% else %}
					<a href="{{project.pdf.url}}" target="_blank">
						<div class="project-content">
							<img src="{{project.photo.url}}" class="image-gallery">
							<p class="project-name">{{project.category.slug|title}} - {{project.title}}</p>
						</div>
					</a>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endfor %}

</main>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body" style="padding: 0;">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox" style="border-radius: 5px;">
						{% for data in search %}
						{% if data.slug == 'FOTOS' %}
						{% for photo in data.data %}
						<div id="img_{{forloop.counter0}}" class="carousel-item" style="border-radius: 5px;">
							<img class="img-fluid" style="width: 100%;" src="{{photo.file.url}}" alt="{{photo.title}}">
						</div>
						{% endfor %}
						{% endif %}
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="caption">
		<h3 id="caption"></h3>
	</div>
</div>

<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" data-target=".bd-example-modal-lg" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body" style="padding: 0;">
				
			</div>
		</div>
	</div>
	<div class="caption">
		<h3 id="caption"></h3>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

	$('.image-gallery2').on('click', function (e) {
		e.preventDefault()
		$('#myModal').modal('show')

		let id = $(this).attr('id').replace('img', '')

		$('#myModal .carousel-item').removeClass('active')
		$('#myModal #img_' + id).addClass('active')

		$('#myModal #caption').html('<center style="color: white">' + $(this).attr('alt') + '</center>')

		$('#myModal .carousel').carousel({ interval: false })
	})

	$('#myModal .carousel').on('slid.bs.carousel', function (){
		$('#myModal #caption').html('<center style="color: white">' + $('.active > img').attr('alt') + '</center>')
	})

</script>

<script type="text/javascript">
	var ratio = 560 / 315
	var width = $('.row>div').width()
	var height = width / ratio


	$('.video').css('width', width + 'px')
	$('.video').css('height', height + 'px')

	var ratio2 = 560 / 315
	var width2 = 800
	var height2 = width2 / ratio2


	$('.video').on('click', function (e) {
		e.preventDefault()

		var url = $(this).attr('data-url')

		if (url.indexOf('/media') == -1) {
			$('#myModal2 .modal-body').html('<iframe width="560" height="315" src="https://www.youtube.com/embed/' + url + '?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>')
		} else {
			$('#myModal2 .modal-body').html('<video controls autoplay><source src="' + url + '" type="video/mp4" /></video>')
		}


		$('#myModal2').modal('show')
		$('#myModal2').modal('handleUpdate')


		$('iframe, #myModal2 .modal-body, #myModal2 .modal-body>video').css('width', width2 + 'px')
		$('iframe, #myModal2 .modal-body, #myModal2 .modal-body>video').css('height', height2 + 'px')
	})

	$('#myModal2').on('hidden.bs.modal', function (e) {
		$('#myModal2 .modal-body').html('')
	})

</script>
{% endblock %}
