{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
<style type="text/css">
.image-gallery {
	width: 130px !important;
	height: 130px;
}
.project-name {
	position: unset;
	bottom: 0;
	margin-top: -17px;
	background: none;
	color: #125a59;
	font-weight: 500;
}

.participa {
	background: #DB3346;
	border-radius: 5px;
	color: white;
	font-size: 2em;
	padding: 16px;
}

.header {
	padding-left: 0px;
	padding-bottom: 10px;
	font-size: 1.5rem;
	text-align: justify;
}

.subtitle {
	color: #f7c700;
	padding-bottom: 32px;
	text-align: end;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<section id="header">
		<div class="container" style="max-width: 800px;">
			<h3 class="header">¡Ayúdanos a mejorar la movilidad en Sinaloa!</h3>
			<h5 class="subtitle">"Mucha gente pequeña en lugares pequeños, haciendo cosas pequeñas pueden cambiar el mundo"<br />-Eduardo Galeano</h5>
		</div>
	</section>

	<section>
		
		<div class="container" style="max-width: 800px;">
			<div class="justify-content-center">

				<form method="POST" action="/participa/servicio-social">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Nombre" required>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Correo electrónico" required>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-group">
								<input type="text" name="career" class="form-control" placeholder="Carrera" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<span>¿Como puedes ayudarnos?</span>
						<textarea class="form-control" name="message" rows="3" required></textarea>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary form-control">Enviar solicitud</button>
					</div>
					{% csrf_token %}
				</form>

				{% if success %}
				<br />
				<div class="alert alert-success" role="alert">
					¡Solicitud Enviada!
				</div>
				{% endif %}

			</div>
		</div>
	</section>

</main>
{% endblock %}
