{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
<style type="text/css">
.image-gallery {
	width: 140px !important;
}
.project-name {
	position: unset;
	bottom: 0;
	margin-top: -17px;
	background: none;
	color: #125a59;
	font-weight: 500;
}
</style>
{% endblock %}

{% block container %}
<main id="main-container">

	<section>
		<br /><br /><br />
		<div class="container">
			<div class="row justify-content-center">
				{% for type in types %}
				<div class="col-sm-4">
					<center>
						<a href="{{slug}}/{{type.name}}">
							<div class="project-content">
								<img src="{{type.image.url}}" class="image-gallery">
								<p class="project-name">{{type.name}}</p>
							</div>
						</a>
					</center>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

</main>
{% endblock %}
