{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
{% endblock %}

{% block container %}
<main id="main-container">
	<section id="header">
		<div class="container">
			<h3 class="header"><a href="/proyecto/{{slug}}">{{slug|title}}</a> / <span>{{type|title}}</span></h3>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">

				{% for video in videos %}
				<div class="col-4 col-md-4">
					{% if video.url %}
					<img class="video" data-url="{{video.url}}" src="https://img.youtube.com/vi/{{video.url}}/mqdefault.jpg" style="cursor: pointer;" />
					{% else %}
					<video class="video" data-url="{{video.file.url}}" style="cursor: pointer;">
						<source src="{{video.file.url}}" type="video/mp4" />
					</video>
					{% endif %}

					{{video.name}}
				</div>
				{% endfor %}
			</div>  
		</div>
	</section>
</main>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-target=".bd-example-modal-lg" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body" style="padding: 0;">
				
			</div>
		</div>
	</div>
	<div class="caption">
		<h3 id="caption"></h3>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var ratio = 560 / 315
	var width = $('.row>div').width()
	var height = width / ratio


	$('.video').css('width', width + 'px')
	$('.video').css('height', height + 'px')

	var ratio2 = 560 / 315
	var width2 = 800
	var height2 = width2 / ratio2


	$('.video').on('click', function (e) {
		e.preventDefault()

		var url = $(this).attr('data-url')

		if (url.indexOf('/media') == -1) {
			$('.modal-body').html('<iframe width="560" height="315" src="https://www.youtube.com/embed/' + url + '?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>')
		} else {
			$('.modal-body').html('<video controls autoplay><source src="' + url + '" type="video/mp4" /></video>')
		}


		$('#myModal').modal('show')
		$('#myModal').modal('handleUpdate')


		$('iframe, .modal-body, .modal-body>video').css('width', width2 + 'px')
		$('iframe, .modal-body, .modal-body>video').css('height', height2 + 'px')
	})

	$('#myModal').on('hidden.bs.modal', function (e) {
		$('.modal-body').html('')
	})

</script>
{% endblock %}